<% include ./partials/headerField %>

    <div class="login">
        <h1>Sign up to use YelpCamp!</h1>
        <form action="/register" method="post">
            <input class="field block" type="text" name="username" placeholder="username">
            <input class="field block" type="password" name="password" placeholder="password">
            <button class="btn btn-sm btn-success">Sign Up!</button>
        </form>
    </div>
</body>